apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx 
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: vincentmpho/devops-proj-pipeline
          resources:
            limits:
              memory: "2Gi"
              cpu: "500m"
            requests:
              memory: "1Gi"
              cpu: "250m"
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: "/health_check"   # Change the path to your application's health endpoint
              port: 8080
            initialDelaySeconds: 5  # Adjust the initial delay before the first probe
            periodSeconds: 10       # Adjust the interval between probes
            timeoutSeconds: 5       # Adjust the probe timeout
          livenessProbe:
            httpGet:
              path: "/health_check"   # Change the path to your application's health endpoint
              port: 8080
            initialDelaySeconds: 10  # Adjust the initial delay before the first probe
            periodSeconds: 15        # Adjust the interval between probes
            timeoutSeconds: 10        # Adjust the probe timeout

