apiVersion: apps/v1
kind: Deployment
metadata:
  name:vince-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: vince-app
  template:
    metadata:
      labels:
        app: vince-app
    spec:
      containers:
        - name: vince-app
          image: vincentmpho/devops-proj-pipeline
          resources:
            limits:
              memory: "1GB"
              cpu: "2GB"
          ports:
            - containerPort: 8080

